*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.main_box{
    background: url(../images/photo.jpg);
    height: 100vh;
    background-size: cover;
}
.btn_one i{
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    left: 18px;
    line-height:60px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.sidebar_menu{
    position: fixed;
    left: -350px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 0 0 6px rgba(255, 255, 255, .5);
    transition: all 0.2s linear;
}
.sidebar_menu .logo{
    position: absolute;
    width:100%;
    line-height: 60px;
    box-shadow: 0 0 4px rgba(255, 255, 255, .5);
}
.sidebar_menu .logo a {
    position: absolute;
    left: 60px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.sidebar_menu .btn_two i{
    color: grey;
    font-size: 25px;
    line-height:60px;
    position: absolute;
    left: 270px;
    /* opacity: 0;*/
    cursor: pointer;
}
.sidebar_menu .menu{
    position: absolute;
    color: white;
    width: 100%;
    top:80px;
}

.sidebar_menu .menu li {
    margin-top: 6px;
    padding: 14px 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
.sidebar_menu .menu i,a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.sidebar_menu .menu i{
    padding-right:8px;
}
.sidebar_menu  .social_media{
    position: absolute;
    left: 25%;
    bottom: 50px;
}
.sidebar_menu  .social_media i{
    color: white;
    opacity: .5; 
    padding: 0 5px;
}
#check{
    display: none;
}

.sidebar_menu .menu li:hover {
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    width:100%; /* Adjust the width as needed */
    margin-left: -10px;
    margin-right: -10px;
  }
  
.btn_one i:hover{
    transform: scale(1.2);
}
.btn_two i:hover{
    font-size: 30px;
}
.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.2);
}
#check:checked ~ .sidebar_menu{
    left: 0;
}
#check:checked ~ .btn_one i{
    opacity: 0;
}